version: '3.8'

services:
  # --- API QUE GENERA LOS FESTIVOS  ---
  db-festivos:
    image: postgres:14-alpine
    container_name: db-festivos
    environment:
      - POSTGRES_DB=calendariodb
      - POSTGRES_USER=usercalendario
      - POSTGRES_PASSWORD=pwdcalendario
    volumes:
      - ./database-festivos:/docker-entrypoint-initdb.d
    networks:
      - red-laboratorio

  api-festivos:
    build: ./api-festivos
    container_name: api-festivos
    depends_on:
      - db-festivos
    ports:
      
      - "8080:8080"
    networks:
      - red-laboratorio

  # --- API QUE GENERA CALENDARIO---
  db-calendario:
    image: postgres:14-alpine
    container_name: db-calendario
    environment:
      - POSTGRES_DB=calendariodb_gen
      - POSTGRES_USER=usergen
      - POSTGRES_PASSWORD=q1w2e3r4
    volumes:
      - ./database-calendario:/docker-entrypoint-initdb.d
    networks:
      - red-laboratorio

  api-calendario:
    build: ./api-calendario
    container_name: api-calendario
    depends_on:
      - db-calendario
      - api-festivos
    ports:
      
      - "8081:8081"
    networks:
      - red-laboratorio

networks:
  red-laboratorio:
    driver: bridge